.signup-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5D4037; /* Match your app's brown background */
  margin: 0;
}

.signup-box {
  background-color: #1c1c1c;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.signup-title {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #2d2d2d;
  color: #fff;
}

.input-field::placeholder {
  color: #aaa;
}

.submit-button {
  width: 105%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background-color: #4caf50; /* Green background */
  color: #ffffff; /* White text */
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: block;
  margin: auto;
}

.submit-button:hover {
  background-color: #388e3c; 
  transform: translateY(-2px); 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.redirect-text {
  color: #ccc;
  margin-top: 15px;
}

.redirect-text a {
  color: #2196f3;
  text-decoration: none;
}

.redirect-text a:hover {
  text-decoration: underline;
}
